.home-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 960px;
  margin: 60px auto;
  gap: 1.5rem;
}
/* 
@media (min-width: 640px) {
  .home-container {
    /* grid- */
  /* }; */
/* } */ 