@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brownish: 45, 8, 15;
  --redish: 236, 59, 67;
  --off-white: 254, 238, 223;
  --bluesy: 41, 141, 191;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  font-size: 1.1em;
  min-height: 100vh
}

ul, li, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}